@media screen and (min-width: 1921px) {
    #main, #stock {
        background-size: 100%;
    }

    #advantages-decor3, #gallery-decor3 {
        right: 0;
    }

    #services-decor, #circle, #stock-decor{
        left: 0;
    }

    #circle-2 {
        left: 180px;
    }
}

/*1024 - 1199*/
@media screen and (max-width: 1199px) {
    #header-container, #main-container, #advantages-container, #services-container, #stock-container, #staff-cards-title, #staff-cards-text, #gallery-container, #answers-container, #contacts-container, #footer-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    #advantages-container .advantages .advantages-block {
        margin-right: auto;
    }

    #services-container .services-card {
        max-width: 612px;
        margin: 0 auto;
        justify-content: center;
    }

    #services-container .services-card .service {
        margin: 20px 12px;
    }

    #staff-cards-container .slick-dotted.slick-slider {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }

    #answers {
        height: auto;
    }

    #answers-title, #contacts-container {
        text-align: center;
    }

    #answers-content, #contacts-container {
        justify-content: center;
    }

    #contacts-container {
        padding-top: 0;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    #contacts-information {
        padding-left: 0;
    }

    #contacts-operating-mode, #contacts-tel {
        padding-left: 100px;
    }

    #footer-container {
        justify-content: space-between;
    }

    #footer-hrefs {
        margin-right: 0;
    }

    #operating-mode-phone {
        flex-direction: column;
        margin-left: 0;
    }

    #operating-mode {
        margin: 0 0 20px 0;
    }
}

@media screen and (max-width: 1025px) {
    #advantages-container {
        padding-top: 100px;
        padding-bottom: 60px;
    }

    #advantages-container .advantages {
        justify-content: center;
        flex-wrap: wrap;
    }

    #advantages-container .advantages .advantages-block {
        margin-right: 0;
    }

    #advantages-title {
        text-align: center;
    }
}

/*768 - 1023*/
@media screen and (max-width: 1023px) {
    #operating-mode {
        margin-left: auto;
    }
}

@media screen and (max-width: 919px) {
    #header-container {
        justify-content: space-between;
    }

    #header-container .logo {
        width: auto;
    }

    #header-container .phone-btn {
        display: none;
    }
}

@media screen and (max-width: 831px) {
    #staff-cards-container .slick-dotted.slick-slider {
        max-width: 384px;
    }
}

/*580 - 767*/
@media screen and (max-width: 767px) {
    #header-menu {
        width: auto;
    }

    #services-title, #staff-cards-title, #staff-cards-text, #services-text, #stock, #gallery, #answers-title, #operating-mode-phone {
        text-align: center;
    }

    #stock {
        background-position: top right;
    }

    #stock-text {
        margin: 0 auto 30px auto;
    }

    #staff-cards-text {
        margin-left: auto;
        margin-right: auto;
    }

    #map iframe {
        width: auto;
    }

    #footer-container {
        flex-direction: column;
        padding-bottom: 7px;
    }

    #footer-hrefs {
        margin-right: 0;
    }

    #footer-hrefs a {
        margin: 0 15px;
    }

    #operating-mode, #footer-container .phone-btn {
        margin-left: 0;
    }

    #footer-hrefs, #footer-container .logo, #operating-mode, #footer-container .phone-btn {
        margin-bottom: 20px;
    }
}

/*480 - 579*/
@media screen and (max-width: 579px) {
    #advantages-container .advantages .advantages-block .advantage {
        flex-direction: column;
    }

    #advantages-container .advantages .advantages-block .advantage.row {
        padding-left: 0;
    }

    #advantages-container .advantages .advantages-block .advantage .icon {
        margin: 0 0 20px 0;
    }

    #advantages-container .advantages .advantages-block .advantage .advantage-text {
        text-align: center;
    }

    #burger {
        display: block;
    }

    #burger svg {
        width: 50px;
        height: 50px;
        fill: rgb(67, 6, 57);
    }

    #header-menu svg {
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 20px;
        right: 20px;
        fill: white;
        cursor: pointer;
    }

    #header-container {
        max-width: 100%;
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    #header-container.menu-open #header-menu {
        display: flex;
        background-color: rgba(37, 24, 31, 0.9);
    }

    #header-menu {
        display: none;
        position: fixed;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0;
        padding: 20px 30px;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 100;
    }

    #header-menu .menu, #header-menu .menu.active {
        margin: 10px 0;
        font-size: 30px;
        color: white;
    }

    #header-menu .menu.active, #header-menu .menu:hover {
        border: none;
    }

    #header-menu div:nth-child(4) {
        width: auto;
    }

    #contacts-container {
        padding-bottom: 100px;
    }

    #reservation-container {
        padding: 60px 30px;
        width: 300px;
    }

    #reservation-close {
        top: -65px;
        right: 0;
    }

    .text-error {
        left: 35px;
    }
}

/*320 - 479*/
@media screen and (max-width: 479px) {
    #header-menu .menu, #header-menu .menu.active {
        font-size: 24px;
    }

    #staff-cards-container {
        padding-top: 60px;
    }

    #reservation-container {
        width: 290px;
    }

    #gallery, #answers-container {
        padding-bottom: 60px;
    }

    #gallery .slick-dots li {
        margin: 0;
    }

    .mfp-bottom-bar {
        padding: 14px 10px;
    }

    button.mfp-close:after {
        top: -20px;
        right: 35px;
    }

    #answers-content .ui-accordion .ui-icon {
        right: 15px;
    }

    #contacts-container {
       justify-content: center;
    }

    #contacts-info .info {
        margin-right: 0;
    }
}

/*280 - 319*/
@media screen and (max-width: 319px) {
    #main-container {
        padding-top: 90px;
    }

    #main-title {
        font-size: 33px;
    }

    #main-btn .btn {
        font-size: 14px;
    }

    #advantages-container .advantages .advantages-block .advantage .advantage-text {
        width: auto;
    }

    #services-container .services-card .service .service-img img {
        width: 100%;
    }

    #services-container .services-card .service .service-and-order .service-text {
        height: auto;
    }

    #services-container .services-card .service .service-and-order .service-order {
        flex-wrap: wrap;
    }

    #services-container .services-card .service .service-and-order .service-order .service-price {
        margin-bottom: 15px;
    }

    #answers-content .ui-accordion {
        width: auto;
    }

    #answers-content .ui-accordion .ui-accordion-header, #answers-form-text {
        font-size: 16px;
    }

    #answers-form-text .answer-phone {
        font-size: 17px;
    }

    #answers-form form #phone-number {
        font-size: 12px;
    }

    #reservation-container {
        width: 250px;
    }

    #contacts-information {
        padding-left: 0;
    }

    .text-error {
        left: 15px;
    }
}